<!DOCTYPE html>
<html>
<head>
  <title>Trakkey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<a href="#" class="navbar-brand">TrakKey</a>
			<ul class="nav navbar-nav">
				<li><%= link_to "Facilities", facilities_path %></li>
			</ul>
		</div>

	</div>

	<div class="container">

		<% if flash[:notice] %>
		
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
				<%= flash[:notice] %>
			</div>
		<% end %>

		<% if flash[:alert] %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
				<%= flash[:alert] %>
			</div>
		<% end %>

		<%= yield %>

	</div>


</body>
</html>
